/* Auth.css */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  opacity: 1; /* Adjust opacity value as needed */
}
  
  .auth-card {
    background-image: url('../../image/ofcRoomOg.jpg'); 
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input[type="numeric"],
  input[type="date"],
  input[type="text"],
  input[type="password"] {
    width: 98%;
    padding: 5px;
    margin: 5px 0;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    background-color:rgba(0, 0, 0, 0.397);
  }
  
  .login-button,
  .logout-button {
    background-color: rgb(246, 15, 15);
    color: #fff;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 6px;
    transition: background-color 0.2s ease;
  }

  .name-inputs {
    display: flex; /* Display the inputs in a row */
    gap: 10px; /* Add some spacing between inputs */
  }

  .switch-button {
    background-color: rgb(3, 144, 113);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    transition: background-color 0.2s ease;
  }
  
  .login-button:hover,
  .logout-button:hover {
    background-color: rgb(255, 0, 0);
  }

  .switch-button:hover{
    background-color: rgb(237, 14, 14);
  }

  .reset-password-button {
    background-color: rgb(3, 144, 113);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    transition: background-color 0.2s ease;
  }

  .reset-password-button:hover {
    background-color: rgb(237, 14, 14);
  }

  body {
    background-image: url('../../image/ofcRoomOg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure full viewport height */
  }